:root {
  --primary-color: #11454e;
  --background-color: rgb(146, 197, 214);
  --button-primary-background-color: #f1a285;
  --button-secondary-background-color: #f3a5d5;
  --a-visited-color: #6973ff;
  --a-active-color: #20b2aa;
  --grid-item-color: lightgray;
  --text-decoration: none;
  --sizing-shared-margin: 0 auto;
  --sizing-shared-max-width: 500px;

  /* overwrites browser defaults and resets the border */
  --button-border: none;
  --button-display: inline-block;

  /* takes the font from the outer container */
  --button-font-family: inherit;

  /* styles the button */
  --button-color: white;
  --button-text-decoration: none;
  --button-padding: 10px;
  --button-border-radius: 3px;

  /* width of the border, type, color */
  --button-border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  --button-transition-duration: 0.2s opacity;
}

body {
  background-color: var(--background-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 25px;
  font-weight: 550;
  font-variant: small-caps;
}

a {
  color: var(--primary-color);
  transition-duration: 0.9s opacity;
}

a:visited {
  color: var(--a-visited-color);
}

a:hover {
  text-decoration: var(--text-decoration);
}

a:focus {
  text-decoration: var(--text-decoration);
}

a:active {
  color: var(--a-active-color);
}

button,
.button_primary {
  border: var(--button-border);
  display: var(--button-display);
  font-family: var(--button-font-family);
  color: var(--button-color);
  text-decoration: var(--button-text-decoration);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border-bottom: var(--button-border-bottom);
  transition-duration: var(--button-transition-duration);
  background-color: var(--button-primary-background-color);
}

.button__secondary {
  border: var(--button-border);
  display: var(--button-display);
  font-family: var(--button-font-family);
  color: var(--button-color);
  text-decoration: var(--button-text-decoration);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border-bottom: var(--button-border-bottom);
  transition-duration: var(--button-transition-duration);
  background-color: var(--button-secondary-background-color);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: var(--text-decoration);
}

.socialicon {
  width: 30px;
  height: 30px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.mycodea {
  display: block;
  float: left;
  width: 250px;
  text-align: center;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: var(--sizing-shared-max-width);
  margin: var(--sizing-shared-margin);
}

.about {
  max-width: var(--sizing-shared-max-width);
  margin: var(--sizing-shared-margin);
}

.skills {
  max-width: var(--sizing-shared-max-width);
  margin: var(--sizing-shared-margin);
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-item-color);
}

.logo {
  float: left;
  width: 100px;
  height: 100px;

  /* display: block;
  max-width: 100%; */
}

/* You'll usually want to add your responsive classes at the very end of your CSS file, overwriting any rules that might have come before. */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #eb83c8;
  }

  50% {
    fill: #f19d3c;
  }

  100% {
    fill: rgb(238, 214, 144);
  }
}

/* switch to animation: 4s color-change infinite alternate linear; once you get the hang of it */
.sun {
  animation-duration: 20s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px) scale(30%);
  }

  to {
    transform: translate(500px, 50px);
  }
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px) scale(2);
  }
}

.cloud-back {
  animation: 20s cloud-move-reverse infinite alternate linear;
}
